@charset "utf-8";
/**
 * accessibility.css
 * (c) FOURDIGIT Inc.
 */
	body {
		padding-top: 60px !important;
		background-position: center 60px !important;
	}
	#noscript {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 59px;
		border-bottom: 1px solid #999999;
		background: #ffffff;
		color: #333333;
		font-size: 14px;
		line-height: 20px;
		font-family: sans-serif;
		overflow: hidden;
	}
	#noscript .content { padding: 10px; width: auto; }
	#noscript span { color: #cc0000; }